

<html lang="en">
  <head>
    <title>Astro Playground</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf-8">
    <meta name="description" content="Simple Astro Playground for messing around with">
    <meta name="keywords" content="Astro, Tailwind Messing Around App">
    <meta name="author" content="Xander McLeod">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <slot />
  </body>
</html>